<h1><%= @user.username %></h1>

<h2>Here are your events that youve created: </h2>

<h2>Here are your upcoming events that you are attending: </h2>

<h2>Here are events youve attended in the past: </h2>
